@media only screen and (max-width : 992px) {
	.logo{
		h1{
			width: 230px;
		}
	}
}


 @media only screen and (max-width : 480px) {
	.login-box{
		max-width: 300px;
		padding: 20px;
	}
	.logo{
		margin: 15px 0;
		h1{
			width: 180px;
			background-size: contain;
		}
	}
	.action-text{
		text-align:center;
		.pull-left,.pull-right{
			float: none;
		}
		.pull-left{
			margin-bottom:15px;
			display:block;
			}
	}
	.or-option {
		&:after, 
		&:before {
			width: 75px;   
		}
	}
}


@media only screen and (max-width : 320px) {
	.login-box{
		max-width: 280px;
	}
}
