@media only screen and (max-width: 600px){
	.main-container {
		max-width: 480px;
		margin: 0 auto;
	}
	.login-box{
		padding: 20px;
	}
	.note{ text-align: center;}
	.action-text{
		text-align:center;
		.pull-left,.pull-right{
			display: inline-block;
		}
		
		.pull-left{
			margin-bottom: 10px;
			}
	}
}

@media only screen and (max-width: 480px){
	.login-box{
		max-width: 300px;
	}
	.logo{
		margin: 15px 0;
		h1{
			width: 180px;
			background-size: contain;
		}
	}
	.action-text{
		.pull-left,.pull-right{
			float: none;
		}
	}
	.or-option {
		&:after, 
		&:before {
			width: 75px;   
		}
	}
}


@media only screen and (max-width: 320px){
	.login-box{
		max-width: 280px;
	}
}